#container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#diceInput{
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(240, 100%, 50%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

button:hover{
    background-color: hsl(240, 100%, 20%);
}

button.active{
    background-color: hsl(240, 100%, 40%);;
}
#diceResult{
    margin: 10px;
}

#diceImages img{

    width: 150px;
    height: 150px;
    margin: 5px;

}